.DS_Store
Rabbi Ovadiah Yosef Calendar.xcodeproj/xcuserdata/user.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Rabbi Ovadiah Yosef Calendar.xcodeproj/project.xcworkspace/xcuserdata/user.xcuserdatad/UserInterfaceState.xcuserstate
